$color-primary: #579c87;
$color-secondary: #fdcb46;
$color-brown: #3c1218;
$color-pink: rgb(165, 105, 153);
$color-violet: rgb(110, 76, 204);
$color-blue1:  #000fa9;
$color-blue2:  #0f25ff;
$color-blue3:  #4556ff;
$color-green: rgb(61,147,57);
