@import "./sass/utils/variables";
@import "./sass/base/polices";
@import "./sass/components/footer";
@import "./sass/components/header";
@import "./sass/components/single_menu_title";
@import "./sass/components/single_menu_ench";
@import "./sass/components/menu_page";
@import "./sass/utils/btn";

body {
  margin: 0 auto;
  font-family: $roboto;
  font-size: 1.5em;
}

.space {
  height: 160px;
}

.container {
  height: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 300px 100px 300px;
  flex-wrap: wrap; 
  a{
    text-decoration: none;
  }
} 

.menu {
  height: 500px;
  width: 40%;
  align-items: center;
  display: flex;
  transform: scale(1);
  transition: transform 1s;
  box-shadow: 5px 5px 15px grey;
  background-color: #fcdfdb;
  
  &:hover .menu_content{
    transform: scale(1.25);
    transition: transform 0.7s; 
    opacity: 0.5; 
  }
}

#menu.menu_chic, #menu.menu_deli, #menu.menu_pale {
  background-color: #ffe8fd;
}

.menu_content{
  width: 100%;
  text-align: center;
  opacity: 1;
  align-items: center;
  
}

.menu_home{
  width: 100%;
}

.menu_content_detail{
  font-family: 'Dancing Script', cursive;
  width: 70%;
  margin: 0 auto;
  p{
    display: flex;
    justify-content: space-between;
  }
}

.underline{
  position: relative;
  margin-block-start: 0em;
  text-decoration: none;
  color: #3c1218;
  font-weight: bold;
  font-size: 1.3em;
}

  .underline:before{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3c1218;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.underline:hover:before {
  visibility: visible;
  width: 100%;
}

.menu_la_note_enchantee{
  color: #3c1218;
}

.menu_ench{
  background-color: #fcdfdb;
  width: 70%;
}

i{
  background-image: linear-gradient(to right, rgb(217,15,15), rgb(255,171,45));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

section.menu_home{
  .menu_ench #menu_title i{
    padding-top: 75px;
  }
  .menu_ench{
    margin: 0 auto;
  }
}

#end_menu{
  display: flex;
  justify-content: center;
  align-items: baseline;
  i{
    padding-right: 15px;
  }
}

i + p{
  font-family: $devonshire;
  font-size: 1.5em;
}

.menu_title_chic{
  color: rgb(199, 116, 18);
  font-family: $croissant;
  :nth-child(1){
    background-image: linear-gradient(to right, orange, rgb(112, 18, 252));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.menu_title_delic, .menu_title_palette{
  font-family: $dancing;
  background-image: linear-gradient(to right, rgb(4,49,223), rgb(27,145,250));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  :nth-child(1) {
    font-size: 1.7em;
  }
}

.menu_title_palette{
  background-image: linear-gradient(to right, rgb(61,147,57), rgb(191, 255, 126));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */