.space {
  height: 160px;
}

body > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #579c87;
  height: 100px;
  font-weight: bold;
}

body > footer a {
  color: #fdcb46;
  margin: auto;
  font-size: 1.5em;
  text-decoration: none;
}

footer a:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

header {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 160px;
  background-color: #579c87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header a {
  text-decoration: none;
  text-align: center;
  color: #fdcb46;
  font-size: 5em;
  margin: 0;
  width: 100%;
}

.menu_content_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px -45px 30px -45px;
}

.line {
  width: 30%;
}

.line_ench {
  border-bottom: 5px solid #3c1218;
}

.line_ench.orange {
  border-color: orange;
}

.line_ench.pink {
  border-color: #a56999;
}

.line_ench.violet {
  border-color: #6e4ccc;
}

.line_ench.blue1 {
  border-color: #000fa9;
}

.line_ench.blue2 {
  border-color: #0f25ff;
}

.line_ench.blue3 {
  border-color: #4556ff;
}

.line_ench.green {
  border-color: #3d9339;
}

.underline {
  position: relative;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.3em;
}

.underline.orange {
  color: orange;
}

.underline.pink {
  color: #a56999;
}

.underline.violet {
  color: #6e4ccc;
}

.underline.orange:before {
  background-color: orange;
}

.underline.pink:before {
  background-color: #a56999;
}

.underline.violet:before {
  background-color: #6e4ccc;
}

.underline.blue1:before {
  background-color: #000fa9;
}

.underline.blue2:before {
  background-color: #0f25ff;
}

.underline.black:before {
  background-color: black;
}

.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3c1218;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.underline:hover:before {
  visibility: visible;
  width: 100%;
}

.btn {
  margin: auto;
  background-color: #579c87;
  width: 300px;
  text-align: center;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn p {
  color: #fdcb46;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.point {
  color: #fdcb46;
  font-size: 1.5em;
  -webkit-animation: 2s linear infinite blink;
          animation: 2s linear infinite blink;
}

.point:nth-of-type(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.point:nth-of-type(3) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

.container {
  /* index */
  height: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 300px 100px 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container a {
  text-decoration: none;
}

.menu {
  height: 500px;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-box-shadow: 5px 5px 15px grey;
          box-shadow: 5px 5px 15px grey;
}

.menu:hover .menu_content {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  opacity: 0.5;
}

main h1 {
  text-align: center;
  margin: 50px;
}

.menu_start {
  text-align: center;
  padding-top: 50px;
}

.menu_detail {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.menu_content {
  width: 100%;
  text-align: center;
  opacity: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_content_detail {
  font-family: 'Dancing Script', cursive;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 7%;
}

.menu_content_detail p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.end_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.end_menu i {
  padding-right: 15px;
}

.menu_la_note_enchantee {
  color: #3c1218;
  background-color: #fcdfdb;
}

.menu_la_note_enchantee h2 {
  font-family: "Devonshire", sans-serif;
}

.menu_ench {
  background-color: #fcdfdb;
  width: 70%;
}

i {
  background-image: -webkit-gradient(linear, left top, right top, from(#d90f0f), to(#ffab2d));
  background-image: linear-gradient(to right, #d90f0f, #ffab2d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

i + p {
  font-family: "Devonshire", sans-serif;
  font-size: 1.5em;
}

.menu_le_chic_a_la_francaise {
  font-family: "Croissant One", cursive;
}

.menu_le_chic_a_la_francaise h2 {
  background-image: -webkit-gradient(linear, left top, right top, from(orange), to(#7012fc));
  background-image: linear-gradient(to right, orange, #7012fc);
  background-clip: text;
  font-size: 1em;
  -webkit-background-clip: text;
  color: transparent;
}

.menu_le_chic_a_la_francaise h3 {
  color: orange;
}

.menu_le_delice_des_papilles, .menu_la_palette_du_gout {
  font-family: "Dancing Script", cursive;
  font-size: 1.3em;
}

.menu_le_delice_des_papilles h2, .menu_le_delice_des_papilles h3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#0431df), to(white));
  background-image: linear-gradient(to right, #0431df, white);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.menu_la_palette_du_gout h2, .menu_la_palette_du_gout h3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#3d9339), to(#bfff7e));
  background-image: linear-gradient(to right, #3d9339, #bfff7e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.orange {
  color: orange;
}

.pink {
  color: #a56999;
}

.violet {
  color: #6e4ccc;
}
/*# sourceMappingURL=style.css.map */