@import "./sass/utils/variables";
@import "./sass/base/polices";
@import "./sass/components/footer";
@import "./sass/components/top_page_header";
@import "./sass/components/single_menu_title";
@import "./sass/components/single_menu_ench";

body {
    margin: 0 auto;
    font-family: $roboto;
    font-size: 1.5em;
  }

  .menu{
    font-size: 2em;
    font-weight: bold;
  }
  
  .space {
    height: 160px;
  }
  
  .home {
    height: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 300px 100px 300px;
    flex-wrap: wrap; 
    a{
      text-decoration: none;
    }
  } 
  
  #menu {
    height: 500px;
    width: 40%;
    align-items: center;
    display: flex;
    transform: scale(1);
    transition: transform 1s;
    background-color: #fcdfdb;
    box-shadow: 5px 5px 15px grey;
    
  &:hover #menu_title{
        transform: scale(1.25);
        transition: transform 0.7s; 
        opacity: 0.5; 
}
  }
  
  #menu.menu_chic, #menu.menu_deli, #menu.menu_pale {
    background-color: #ffe8fd;
  }
  
  #menu_title {
    width: 100%;
    text-align: center;
    opacity: 1;
  }

    .menu_title_ench {
    color: #3c1218;
    }

    .menu_title_ench :nth-child(1){
        background-image: linear-gradient(to right, rgb(217,15,15), rgb(255,171,45));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    .menu_title_ench :nth-child(2){
      font-family: $devonshire;
      font-size: 1.5em;
  }

    .menu_title_chic{
      color: rgb(199, 116, 18);
      font-family: $croissant;
      :nth-child(1){
        background-image: linear-gradient(to right, orange, rgb(112, 18, 252));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }

.menu_title_delic, .menu_title_palette{
  font-family: $dancing;
  background-image: linear-gradient(to right, rgb(4,49,223), rgb(27,145,250));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        :nth-child(1) {
          font-size: 1.7em;
        }
}

.menu_title_palette{
background-image: linear-gradient(to right, rgb(61,147,57), rgb(191, 255, 126));
background-clip: text;
-webkit-background-clip: text;
color: transparent;
font-weight: bold;
}

.btn {
    margin: auto;
    background-color: $color-primary;
    width: 300px;
    text-align: center;
    height: 50px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    display: flex;
        p{
        color: $color-secondary;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
        }
  }

  .point{
    color: $color-secondary;
    font-size: 1.5em;
    animation: 2s linear infinite blink;
  }

  .point:nth-of-type(2){
    animation-delay: .2s;
  }

  .point:nth-of-type(3){
    animation-delay: .4s;
  }

  @keyframes blink{
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    75%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }

  }
  /*# sourceMappingURL=style.css.map */