footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
  background-color: #579c87;
  height: 100px;
  font-weight: bold;
}

footer a {
  color: #fdcb46;
  margin: auto;
  font-size: 1.5em;
  text-decoration: none;
}

#top_page_header {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 160px;
  background-color: #579c87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top_page_header h1 {
  text-align: center;
  color: #fdcb46;
  font-size: 5em;
  margin: 0;
  width: 100%;
}

#single_menu_title h1 {
  text-align: center;
  margin-top: 100px;
}

#single_menu_ench {
  margin-top: 100px;
  width: 75%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

.menu {
  font-size: 2em;
  font-weight: bold;
}

.space {
  height: 160px;
}

.home {
  height: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 300px 100px 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home a {
  text-decoration: none;
}

#menu {
  height: 500px;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  background-color: #fcdfdb;
  -webkit-box-shadow: 5px 5px 15px grey;
          box-shadow: 5px 5px 15px grey;
}

#menu:hover #menu_title {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  opacity: 0.5;
}

#menu.menu_chic, #menu.menu_deli, #menu.menu_pale {
  background-color: #ffe8fd;
}

#menu_title {
  width: 100%;
  text-align: center;
  opacity: 1;
}

.menu_title_ench {
  color: #3c1218;
}

.menu_title_ench :nth-child(1) {
  background-image: -webkit-gradient(linear, left top, right top, from(#d90f0f), to(#ffab2d));
  background-image: linear-gradient(to right, #d90f0f, #ffab2d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.menu_title_ench :nth-child(2) {
  font-family: "Devonshire", sans-serif;
  font-size: 1.5em;
}

.menu_title_chic {
  color: #c77412;
  font-family: "Croissant One", cursive;
}

.menu_title_chic :nth-child(1) {
  background-image: -webkit-gradient(linear, left top, right top, from(orange), to(#7012fc));
  background-image: linear-gradient(to right, orange, #7012fc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.menu_title_delic, .menu_title_palette {
  font-family: "Dancing Script", cursive;
  background-image: -webkit-gradient(linear, left top, right top, from(#0431df), to(#1b91fa));
  background-image: linear-gradient(to right, #0431df, #1b91fa);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.menu_title_delic :nth-child(1), .menu_title_palette :nth-child(1) {
  font-size: 1.7em;
}

.menu_title_palette {
  background-image: -webkit-gradient(linear, left top, right top, from(#3d9339), to(#bfff7e));
  background-image: linear-gradient(to right, #3d9339, #bfff7e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.btn {
  margin: auto;
  background-color: #579c87;
  width: 300px;
  text-align: center;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn p {
  color: #fdcb46;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.point {
  color: #fdcb46;
  font-size: 1.5em;
  -webkit-animation: 2s linear infinite blink;
          animation: 2s linear infinite blink;
}

.point:nth-of-type(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.point:nth-of-type(3) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */