.btn {
    margin: auto;
    margin-top: 80px;
    background-color: $color-primary;
    width: 300px;
    text-align: center;
    height: 50px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    p{
      color: $color-secondary;
      text-decoration: none;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  
  .point{
    color: $color-secondary;
    font-size: 1.5em;
    animation: 2s linear infinite blink;
  }
  
  .point:nth-of-type(2){
    animation-delay: .2s;
  }
  
  .point:nth-of-type(3){
    animation-delay: .4s;
  }
  
  @keyframes blink{
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    75%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    
  }