$roboto: 'Roboto', sans-serif;
$devonshire: 'Devonshire', sans-serif;
$croissant: 'Croissant One', cursive;
$dancing: 'Dancing Script', cursive;
$kaushan: 'Kaushan Script', cursive;
$sriracha: 'Sriracha', cursive;
$noto: 'Noto Serif', serif;